<br />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-11 col-lg-10 pb-5">


      <form action="" id="frmResumeSend" method="post" enctype="multipart/form-data" (ngSubmit)="onSubmit()" [formGroup]="formdata">
        <div class="card border-axa-blue rounded-0">
          <div class="card-header p-0">
            <div class="border-primary text-axa-blue text-center py-2">
              <h3> Send your Resume <i class="fa fa-file-pdf-o"></i></h3>
            </div>
          </div>
          <div class="card-body p-3">

            <div class="container">
              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-key text-axa-blue"></i></div>
                  </div>
                  <input type="password" class="form-control" id="apiKey" name="apiKey" placeholder="X-AXA-API-KEY" [formControl]="apiKey" required>

                  <div *ngIf="getFormControl('apiKey').invalid && (getFormControl('apiKey').dirty || getFormControl('apiKey').touched)" class="input-group-prepend">
                    <div *ngIf="getFormControl('apiKey').errors.required" class="input-group-text invalid">
                      <i class="fa fa-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
              <h4>Please upload your resume:</h4>
              <div class="custom-file mb-5">
                <input type="file" class="custom-file-input" accept=".pdf" id="file" name="file" [formControl]="file" (change)="handleUpload($event)">
                <label class="custom-file-label" for="fileUpload">{{file.value}}</label>
              </div>
            </div>

            <div class="text-center mt-3">
              <input type="submit" value="Submit" class="btn btn-primary bg-axa-blue btn-block rounded-0 py-2">
            </div>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>
