<br />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 pb-5">

      <form action="" [formGroup]="formdata" (ngSubmit)="onSubmit()" method="post">
        <div class="card border-axa-blue rounded-0">
          <div class="card-header p-0">
            <div class="border-primary text-axa-blue text-center py-2">
              <h3>Application Form <i class="fa fa-envelope"></i></h3>
            </div>
          </div>
          <div class="card-body p-3">

            <!--Body-->
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user text-axa-blue"></i></div>
                </div>
                <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" [formControl]="name" required>

                <div *ngIf="getFormControl('name').invalid && (getFormControl('name').dirty || getFormControl('name').touched)" class="input-group-prepend">
                  <div *ngIf="getFormControl('name').errors.required" class="input-group-text invalid">
                    <i class="fa fa-warning"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope text-axa-blue"></i></div>
                </div>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" [formControl]="email" required>

                <div *ngIf="getFormControl('email').invalid && (getFormControl('email').dirty || getFormControl('email').touched)" class="input-group-prepend">
                  <div *ngIf="getFormControl('email').errors.required" class="input-group-text invalid">
                    <i class="fa fa-warning"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-phone text-axa-blue"></i></div>
                </div>
                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number (09xxxxxxxxxx)" [formControl]="mobile" required pattern="09[0-9]{9}">

                <div *ngIf="getFormControl('mobile').invalid && (getFormControl('mobile').dirty || getFormControl('mobile').touched)" class="input-group-prepend">
                  <div *ngIf="getFormControl('mobile').errors.required" class="input-group-text invalid">
                    <i class="fa fa-warning"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-suitcase text-axa-blue"></i></div>
                </div>
                <input type="text" class="form-control" id="position" name="position" placeholder="Position Applied" [formControl]="position" required>

                <div *ngIf="getFormControl('position').invalid && (getFormControl('position').dirty || getFormControl('position').touched)" class="input-group-prepend">
                  <div *ngIf="getFormControl('position').errors.required" class="input-group-text invalid">
                    <i class="fa fa-warning"></i>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-globe text-axa-blue"></i></div>
                </div>
                <input type="text" class="form-control" id="source" name="source" placeholder="Source" [formControl]="source" required>

                <div *ngIf="getFormControl('source').invalid && (getFormControl('source').dirty || getFormControl('source').touched)" class="input-group-prepend">
                  <div *ngIf="getFormControl('source').errors.required" class="input-group-text invalid">
                    <i class="fa fa-warning"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center">
              <input type="submit" value="Submit" class="btn btn-primary bg-axa-blue btn-block rounded-0 py-2">
            </div>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

