<br />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-11 col-lg-10 pb-5">

      <form action="" method="post" [formGroup]="formdata" (ngSubmit)="onSubmit()">
        <div class="card border-axa-blue rounded-0">
          <div class="card-header p-0">
            <div class="border-primary text-axa-blue text-center py-2">
              <h3> Schedule an Interview <i class="fa fa-handshake-o"></i></h3>
            </div>
          </div>
          <div class="card-body p-3">
            <div class="container">
              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-key text-axa-blue"></i></div>
                  </div>
                  <input type="password" class="form-control" id="apiKey" name="apiKey" placeholder="X-AXA-API-KEY" [formControl]="apiKey" required>

                  <div *ngIf="getFormControl('apiKey').invalid && (getFormControl('apiKey').dirty || getFormControl('apiKey').touched)" class="input-group-prepend">
                    <div *ngIf="getFormControl('apiKey').errors.required" class="input-group-text invalid">
                      <i class="fa fa-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group date" id="date" data-target-input="nearest">

                      <kendo-datepicker [(value)]="date.value" [format]="'yyyy-MM-dd'" [disabledDates]="disabledDates" class="w-100"></kendo-datepicker>
                      <!--<input type="text" name="date" class="form-control datetimepicker-input" data-target="#date" placeholder="Proposed Date" required />
          <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>-->
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group date" id="time" data-target-input="nearest">
                      <kendo-timepicker [(value)]="time.value" [format]="'ha'" class="w-100"></kendo-timepicker>
                      <!--<input type="text" name="time" class="form-control datetimepicker-input" data-target="#time" placeholder="Proposed Time" required />
          <div class="input-group-append" data-target="#time" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
          </div>-->
                    </div>
                  </div>
                </div>
              </div>
              <i>Pro-tip: Usually available in the afternoon. Wednesdays or Thursdays are generally relaxed. So pick one and get a slot.</i>
            </div>


            <div class="text-center mt-4">
              <input type="submit" value="Submit" class="btn btn-primary bg-axa-blue btn-block rounded-0 py-2">
            </div>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

